<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHsKMC-dE28RePYPS9IAfSvz4gniZMvS8</string>
	<key>GCM_SENDER_ID</key>
	<string>681094379916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.jmcerezo.gestionfinanciera</string>
	<key>PROJECT_ID</key>
	<string>gestion-financiera-add7e</string>
	<key>STORAGE_BUCKET</key>
	<string>gestion-financiera-add7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681094379916:ios:82adf404954ea94fbb7ea9</string>
</dict>
</plist>